@use './utilities/mixins' as *;
// global style
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.ant-layout-has-sider {
  background: '#F6F8FA' !important;
}

.jodit-workplace {
  // @apply prose;
  u {
    text-decoration: underline;
  }
  s {
    text-decoration: line-through;
  }
}
