:root {
  // --colorPrimary: #00b96b;
  // --primary-color: #2a2e6a;
  // --primary-color-300: #70739b;
  // --primary-color-400: #555888;
  // --primary-color-hover: #000ba9;
  // --secondary-color: #474eb3;
  // --bg-color1: #fbfbfe;
  // --bg-color2: #f3f3fc;
  // --text-color-secondary: #5c5d70;
  // --disabled-color: rgba(0, 0, 0, 0.25);

  --colorSecondary: #222630;

  --heading-color: #0c0d1d;
  --text-color: #73748c;
  --border-color: #d9d9d9;

  --purple: #7a5af8;

  --white: #ffffff;
  --white1: #ffffff;

  --white2: #f9f9fb;
  --white3: #d3d5ee;
  --white4: #fbfbfe;
  --white5: #f3f3fc;
  --white-ice: #e1faeb;
  --green-teal: #00b96b;
  --green3: #00f08b;
  --blue1: #1889fd;
  --red1: #f04438;
  --yellow1: #ffd17e;

  // primary shade
  --primary-25: #fcfcfd;
  --primary-50: #eaebf0;
  --primary-100: #bfbfd0;
  --primary-200: #9fa1ba;
  --primary-300: #74769a;
  --primary-400: #595b86;
  --primary-500: #2f3268; //primary color
  --primary-600: #2b2e5f;
  --primary-700: #21244a;
  --primary-800: #1a1c39;
  --primary-900: #14152c;

  //secondary
  --secondary-25: #f9fbf8;
  --secondary-50: #edf5ec;
  --secondary-100: #c8e0c5;
  --secondary-200: #add1a9;
  --secondary-300: #88bd82;
  --secondary-400: #71b06a;
  --secondary-500: #4d9c45;
  --secondary-600: #468e3f;
  --secondary-700: #376f31;
  --secondary-800: #2a5626;
  --secondary-900: #20421d;

  // gray shade
  --gray-25: #fcfcfd;
  --gray-50: #f9f9fb;
  --gray-100: #f3f3f7;
  --gray-200: #eaeaf0;
  --gray-300: #d0d0dd;
  --gray-400: #989ab3;
  --gray-500: #666885;
  --gray-600: #474966;
  --gray-700: #353755;
  --gray-800: #1d1f39;
  --gray-900: #0f0f24;

  --blue-50: #eaeaf0;
  --blue-100: #bdbed1;
  --blue-200: #9d9fba;
  --blue-300: #70739b;
  --blue-400: #555888;
  --blue-500: #2a2e6a;
  --blue-600: #262a60;
  --blue-700: #1e214b;
  --blue-800: #17193a;
  --blue-900: #12132d;

  --green-50: #edf5ec;
  --green-100: #c8e0c5;
  --green-200: #add1a9;
  --green-300: #88bd82;
  --green-400: #71b06a;
  --green-500: #4d9c45;
  --green-600: #468e3f;
  --green-700: #376f31;
  --green-800: #2a5626;
  --green-900: #20421d;

  --orange-50: #fef4e6;
  --orange-100: #fdddb3;
  --orange-200: #fdddb3;
  --orange-300: #fab55a;
  --orange-500: #f79009;
  --orange-600: #e18308;
  --orange-700: #af6606;
  --orange-800: #884f05;
  --orange-900: #683c04;

  --success-50: #e7f8f0;
  --success-100: #b6e9d1;
  --success-200: #92deba;
  --success-300: #60cf9b;
  --success-400: #41c588;
  --success-500: #12b669;
  --success-600: #10a760;
  --success-700: #0d824b;
  --success-800: #0a653a;
  --success-900: #084d2d;

  --red-50: #feeceb;
  --red-100: #fac5c1;
  --red-200: #f8a9a3;
  --red-300: #f5827a;
  --red-400: #f36960;
  --red-500: #f04437;
  --red-600: #da3e33;
  --red-700: #aa3028;
  --red-800: #84251f;
  --red-900: #651d18;
}
